@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.w-60 {
  width: 60%;
}
.carousel-caption {
  top: 30%;
}
.carousel-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
}

/***************************
* ------ Responsive -------
**************************/

/* x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .section-top h2 {
    font-size: 22px;
  }
  .carousel-caption {
    top: 10%;
  }
  .carousel-inner img {
    min-height: 320px !important;
  }

  .carousel-caption h1 {
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 12px;
  }
  .course-img {
    width: 100% !important;
  }
  .course-content {
    padding: 15px !important;
  }
  .footer p {
    font-size: 14px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .carousel-caption {
    top: 15%;
  }
  .carousel-caption h1 {
    font-size: 40px;
  }
}
